@if(pokemonData !== 'Not Found' && pokemonData){
<div class="pokemon-card text-center p-3 rounded pokemon-data">
  <header>
    <nav>
      <div class="previous-btn" (click)="navigate(pokemonData.id - 1)">
        @if(previousPokemon.id){
        <span
          >@if(previousPokemon){ #
          {{ previousPokemon.id.toString().padStart(4, "0") }}
          }</span
        >
        <span>{{ previousPokemon.name }}</span>
        }
      </div>
      <div class="next-btn" (click)="navigate(pokemonData.id + 1)">
        @if(nextPokemon.id){

        <span>{{ nextPokemon.name }}</span>
        <span>
          @if(nextPokemon){ #
          {{ nextPokemon.id.toString().padStart(4, "0") }}}
        </span>
        }
      </div>
    </nav>
    <div
      [style.backgroundColor]="mainColor"
      class="d-flex justify-content-center align-items-center text-white border border-dark rounded p-2 shadow"
    >
      <h1>
        #{{ pokemonData.id.toString().padStart(4, "0") }}

        {{ pokemonData.name | titlecase }}
      </h1>
    </div>
  </header>

  <img
    [src]="pokemonData.sprites.other?.['official-artwork']?.front_default"
    [alt]="pokemonData.name"
    class="img-fluid my-3 border border-1 border-dark p-4 rounded-2"
  />

  <div class="slots">
    @for(typeSlots of pokemonData.types; track typeSlots.slot){
    <div
      class="type-slot"
      [style.backgroundColor]="colorsService.getColor(typeSlots.type.name)"
    >
      {{ typeSlots.type.name | uppercase }}
    </div>
    }
  </div>
  <div class="slots">
    <div class="slot">
      Height: {{ pokemonData.height / 10 | number : "1.1-1" }}m
    </div>
    <div class="slot">
      Weight: {{ pokemonData.weight / 10 | number : "1.1-1" }}kg
    </div>
  </div>
  <div
    class="d-flex align-items-center border border-1 rounded-2 p-4"
    [style.height]="'150px'"
  >
    {{ flavourtext }}
  </div>
  <div>
    @for(stats of pokemonData.stats; track stats.stat.name){
    <app-stats
      [statName]="stats.stat.name"
      [color]="mainColor"
      [statValue]="stats.base_stat"
    />
    }
  </div>
  <div class="abilities">
    <h2 [style.backgroundColor]="mainColor">Abilities</h2>
    <div class="abilities-slots">
      @for (ability of pokemonData.abilities; track ability.slot) {
      <div class="ability-slot">
        {{ ability.ability.name }}
        @if(ability.is_hidden){
        <br />(Hidden) }
      </div>
      }
    </div>
  </div>
  <app-variety
    [pokemonSpecieData]="pokemonSpecieData"
    [mainColor]="mainColor"
  />

  <app-evolution-chain
    [pokemonSpecieData]="pokemonSpecieData"
    [mainColor]="mainColor"
  />
</div>

} @else {
<div class="pokemon-data">No Pokemon Found</div>
}
