header nav {
  display: flex;
  gap: 20px;
}

nav {
  margin-bottom: 20px;
}

nav div {
  display: flex;
  align-items: center;

  flex: 1;
  background-color: #a4a4a4;

  height: 50px;
  padding: 0 10px;

  color: white;
  gap: 10px;
}
nav span {
  text-transform: capitalize;
}

.previous-btn {
  border-radius: 20px 10px;
}

.next-btn {
  justify-content: end;
  border-radius: 10px 20px;
}

.pokemon-data {
  max-width: 800px;
  margin: auto;
}
.slots {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

.slot,
.type-slot {
  /*display*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*box*/
  height: 35px;
  padding: 5px 0;
  border: solid 1px black;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  /*text*/
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.type-slot,
.abilities h2,
.variety-section h2,
.evolution-chain-section h2 {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #535353;
  text-transform: capitalize;
}

.abilities {
  border: solid 1px black;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}

.abilities-slots {
  display: grid;
  height: 80px;
  padding-bottom: 20px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.variety-section {
  border: solid 1px black;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.stamps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  padding: 20px;
}

.stamps div {
  flex: 1 30%; /* Set width to exactly 33.333% */
  max-width: 30%; /* Ensure items don't exceed 33.333% */
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.stamps img {
  width: 100%;
  padding: 20px;
  background-color: white;
}

.evolution-chain-section {
  width: 100%;
  padding-bottom: 20px;
  border-radius: 0 0 10px 10px;
}
