.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: var(--linear-gradiant-red);
}

.navbar-brand {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  background-color: #0d6efd;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 8px;
}

.btn:hover {
  background-color: #0b5ed7;
}

.search-form {
  display: flex;
  gap: 5px;
}

.search-input {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-btn {
  background-color: black;
  color: white;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.search-btn:hover {
  background-color: #333;
}
