<div class="legal-notice">
  <h1>Mentions Légales</h1>

  <h2>1. Identification</h2>
  <p>
    Conformément à l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la
    confiance dans l'économie numérique, les informations suivantes sont portées
    à la connaissance des utilisateurs de cette application.
  </p>
  <p>
    <strong>Éditeur :</strong> Jean-Michel Uk <br />
    <strong>Email :</strong>
    <a href="mailto:jmichel.uk@outlook.fr">jmichel.uk&#64;outlook.fr</a> <br />
  </p>

  <h2>2. Hébergement</h2>
  <p>
    <strong>Hébergeur :</strong> Netlify, Inc. <br />
    <strong>Adresse :</strong> 44 Montgomery Street, Suite 300, San Francisco,
    CA 94104, USA <br />
    <strong>Contact :</strong>
    <a href="https://www.netlify.com/support/" target="_blank"
      >https://www.netlify.com/support/</a
    >
    <br />
  </p>

  <h2>3. Propriété Intellectuelle</h2>
  <p>
    Pokémon est une marque déposée appartenant à The Pokémon Company, Game
    Freak, et Nintendo. Les images, noms et descriptions utilisés dans cette
    application sont la propriété exclusive de leurs détenteurs respectifs.
    Cette application est un projet indépendant et n'est pas affiliée,
    sponsorisée ou approuvée par ces entités.
  </p>

  <h2>4. Utilisation de l'API PokéAPI</h2>
  <p>
    Cette application utilise des données issues de l'API PokéAPI (<a
      href="https://pokeapi.co"
      target="_blank"
      >https://pokeapi.co</a
    >). Les données sont fournies par PokéAPI et l'application n'est pas
    responsable de leur exactitude ou de leur disponibilité.
  </p>

  <h2>5. Limitation de Responsabilité</h2>
  <p>
    L'éditeur de cette application ne pourra être tenu responsable des dommages
    directs ou indirects causés au matériel de l’utilisateur lors de l’accès à
    l’application, ni des erreurs ou omissions dans les contenus proposés.
  </p>

  <h2>6. Données Personnelles</h2>
  <p>
    Cette application ne collecte pas de données personnelles. Si cette
    politique venait à évoluer, les utilisateurs en seraient informés et un
    consentement explicite serait demandé, conformément au RGPD.
  </p>

  <h2>7. Liens Externes</h2>
  <p>
    L'application peut contenir des liens vers des sites externes. L'éditeur
    décline toute responsabilité concernant le contenu ou les pratiques de ces
    sites tiers.
  </p>

  <p>Dernière mise à jour : 17/01/2025.</p>
</div>
