/* You can add global styles to this file, and also import other style files */
:root {
  --primary-grass: #3fa129;
  --linear-gradiant-red: linear-gradient(90deg, #f00 0%, #c42e2e 100%);
  --gradient-background: linear-gradient(to right, #ff4b2b, #ff416c);
  --btn-color: #ff4b2b;
  --btn-hover-color: #ff2e00;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-VariableFont.ttf") format("truetype");
  font-weight: 100 900; /* Variable font range */
  font-style: normal;
}

* {
  font-family: "Inter";
}
