<footer class="bg-light">
  <!-- Copyright -->
  <div
    class="text-white p-3 fs-5 d-flex justify-content-between"
    style="background: var(--linear-gradiant-red)"
  >
    <span>
      © 2025 Copyright :
      <a
        class="text-decoration-none text-white fs-5"
        href="https://jmphirum-uk.netlify.app/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Site web de jmphirum-uk"
      >
        jmphirum-uk
      </a>
    </span>
    <span>
      <a
        class="text-decoration-none text-white fs-5"
        aria-label="Lien vers les mentions légales"
        [routerLink]="['legal-notice']"
      >
        Mentions légales
      </a>
    </span>
  </div>
  <!-- Copyright -->
</footer>
